<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator">
  <xacro:include filename="$(find my_manipulator)/urdf/manipulator.xacro" />

  <ros2_control name="FakeSystem" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <param name="calculate_dynamics">false</param>
    </hardware>

    <joint name="joint_1">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint_2">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint_3">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint_4">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint_5_left">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.008</param>
      </state_interface>
    </joint>

    <joint name="joint_5_right">
      <param name="mimic">joint_5_left</param>
      <param name="multiplier">1</param>
      <state_interface name="position"/>
    </joint>
  </ros2_control>
</robot>
