<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator">

  <xacro:arg name="serial_port" default="/dev/ttyUSB0"/>
  <xacro:arg name="baud_rate" default="9600"/>
  <xacro:arg name="write_rate_hz" default="20"/>
  <xacro:arg name="dry_run" default="false"/>

  <!-- 1. 공통 로봇 모델 포함 -->
  <xacro:include filename="$(find my_manipulator)/urdf/manipulator.xacro" />

  <!--
  ===================================================================
  |                   ROS2 CONTROL FOR REAL ROBOT                   |
  ===================================================================
  -->
  <ros2_control name="RealRobot" type="system">
    <hardware>
      <!-- 나중에 만들 실제 로봇용 하드웨어 인터페이스 플러그인 -->
      <plugin>arduino_hardware_interface/ArduinoHardwareInterface</plugin>
      <param name="serial_port">$(arg serial_port)</param>
      <param name="baud_rate">$(arg baud_rate)</param>
      <param name="write_rate_hz">$(arg write_rate_hz)</param>
      <param name="dry_run">$(arg dry_run)</param>
    </hardware>
    <joint name="joint_1">
      <param name="servo_min_angle">0</param>
      <param name="servo_max_angle">180</param>
      <command_interface name="position">
        <param name="min">${-pi/2}</param>
        <param name="max">${pi/2}</param>
      </command_interface>
      <state_interface name="position"><param name="initial_value">0</param></state_interface>
    </joint>
    <joint name="joint_2">
      <param name="servo_min_angle">0</param>
      <param name="servo_max_angle">180</param>
      <command_interface name="position">
        <param name="min">0</param>
        <param name="max">${pi}</param>
      </command_interface>
      <state_interface name="position"><param name="initial_value">0</param></state_interface>
    </joint>
    <joint name="joint_3">
      <param name="servo_min_angle">0</param>
      <param name="servo_max_angle">180</param>
      <command_interface name="position">
        <param name="min">${-pi}</param>
        <param name="max">0</param>
      </command_interface>
      <state_interface name="position"><param name="initial_value">0</param></state_interface>
    </joint>
    <joint name="joint_4">
      <param name="servo_min_angle">0</param>
      <param name="servo_max_angle">180</param>
      <command_interface name="position">
        <param name="min">${-pi/2}</param>
        <param name="max">${pi/2}</param>
      </command_interface>
      <state_interface name="position"><param name="initial_value">0</param></state_interface>
    </joint>
    <joint name="joint_5_left">
      <param name="servo_min_angle">30</param>
      <param name="servo_max_angle">90</param>
      <command_interface name="position">
        <param name="min">0</param>
        <param name="max">0.008</param>
      </command_interface>
      <state_interface name="position"><param name="initial_value">0.008</param></state_interface>
    </joint>
  </ros2_control>

</robot>
